body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#main{
    height: 900px;
    background-image: url(images/donation7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .header {
    width: 60%;
    text-align: center;
}
#main .header h1{
    font-size: 80px;
    font-weight: 800;
    color: #fff;
    text-shadow: 10px 10px 30px #000;
    padding: 10px 10px;
}
#main .header p{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-shadow: 10px 10px 30px #000;
    margin-bottom: 50px;
}
 .common-btn{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 12px 30px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #D4145A, #FBB03B);
}

/* first section styling done */
#second-section{
    margin: 100px 0px;
    display: flex;
    justify-content: center;
}
.second-section-content{
    width: 50%;
    text-align: center;
}
.upper-text h1{
    font-size: 50px;
    font-weight: 700;
    color: orangered;
}
.upper-text p{
    font-size: 20px;
    margin-bottom: 20px;

}
.numbers{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px;
}
.numbers h2{
    width: 150px;
    margin-right: 20px;
    padding: 50px 40px;
    color: rgb(81, 81, 81);
    background-color: rgba(212, 212, 212, 0.783);
    border-radius: 5px;
    
}
.numbers .orange-border{
    border: 2px solid orangered;
    color: orangered;
    background-color: #FFEEEE;
}

.second-section-content input{
    width: 100%;
    padding: 10px 0px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid gray;
    outline: none;
    margin-bottom: 50px;

    text-align: center;
    font-size: 20px;
}
/* second section style done */

#third-section{
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.donation-plan{
    width: 60%;
    
}
.donate-plan-text{
    text-align: center;
    margin-bottom: 50px;
}
.donate-plan-text h1{
    font-size: 50px;
    font-weight: 700;
}
.donate-plan-text p{
    font-size: 20px;
    font-weight: 500;
    color: gray;
}

.donate-plan-card{
    display: flex;
    justify-content: space-between;
    
}
.donate-plan-card .card{
    width: 310px;
    padding: 30px 20px;
    background-color: #D4145A;
    border-radius: 5px;
}
.donate-plan-card .card p{
    color: gray;
}
.donate-plan-card .card1{
    background-color: #EDF5F6;
}
.donate-plan-card .card2{
    background-color: #FFEEEE;
}
.donate-plan-card .card3{
    background-color: #FFF4D6;
}

/* third section style done */

#section-four{
    background-color: #FEEFDA;
    padding: 60px 0px;
    display: flex;
    justify-content: center;
}
.reasons-section{
    width: 70%;
}
.section-four-head h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.section-four-head p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.section-four-list{
    display: flex;
    justify-content: space-around;
}
.section-four-list ul li{
    font-size: 25px;
    color: #000;
    font-weight: 600;
}
.img-head{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
    color: gray;
}
.section-four-img{
    padding: 10px 0px 30px;
    display: flex;
    justify-content: space-around;
}
.section-four-img img{
    width: 350px;
    padding: 0px 20px;
}

/* section four style done */

#section-five{
    display: flex;
    justify-content: center;
    padding: 50px 0px 100px;
}
.section-five{
    width: 50%;
}
.email-header{
    text-align: center;
    padding-bottom: 80px;
}
.email-header h1{
    font-size: 40px;
    font-weight: 700;   
}
.email-header p{
    font-size: 18px;
    font-weight: 500;

}
.email-input{
    padding: 60px 0px;
    background-color: #FFF4D6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.mail{
    border: none;
    outline: none;
    width: 35%;
    padding: 15px ;
    border-radius: 3px;
    background-color: #D9D9D9;
}
.submit{
    padding: 10px 40px;
    background-color: orangered;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
        border-radius: 3px;
}
/* section five style done */

footer{
    background-color: #0B0D17;
    padding: 30px 0px;
    text-align: center;
}
footer h2{
    color: orangered;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
}
footer p{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}